.sv-array {
	list-style-type: none;
	-webkit-padding-start: 0px;
	clear: both;
	margin: 0;
	margin-left:10px;
	width: 100%;
}


.sv-array-elem {
	clear: both;
}

.sv-obj {
	list-style-type: none;
	-webkit-padding-start: 0px;
	/*margin-left: 10px;*/
	clear: both;
	-webkit-margin-after: 0px;
	-webkit-margin-before: 0px;
}

.sv-obj-elem {
	width: 100%;
	margin-left: 8px;
	clear: both;
}

.sv-align1 {
	min-width: 40px;
	float: left;
}

.sv-align2 {
	min-width: 32px;
	float: left;
}

.sv-title {
	/*padding-right: 4px;*/
	margin-left: -8px;
	float: left;
}

.sv-content {
	padding-right: 4px;
}

.struct-view {
	overflow-y: scroll;
}
